.total-category {
  width: 375px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #807e7e;
  padding: 10px;
}
.back-button {
  background: none;
  border: none;
  padding: 0;
  margin-right: 10px;
  cursor: pointer;
}

.back-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.back {
  font-size: 20px;
  cursor: pointer;
}

.summary-filter {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 15px;
}

.filter {
  width: 100px;
  padding: 2px;
  border: none;
  background: transparent;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  position: relative;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 0 4px;
  color: #807e7e;
}

.income span {
  color: #ff3366;
  font-weight: bold;
  font-size: 20px;
}

.expense span {
  color: #007bff;
  font-weight: bold;
  font-size: 20px;
}

.tab {
  display: flex;
  border-bottom: 2px solid #ccc;
  margin-bottom: 12px;
}

.tab button {
  flex: 1;
  padding: 8px;
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
  color: #888;
}

.tab .active {
  color: black;
  border-bottom: 2px solid black;
}
